{% extends "mailbk/base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'mailbk/css/mail.css' %}" >
<!-- <script src="{% static 'mailbk/js/main.js' %}" ></script> -->
{% endblock %}

{% block body %}

<header>
    
</header>
<div id="content">
    <br/>
    <div id="subjet">
        <div class="title_cls">タイトル:</div>  {{subject}}
    </div>
    <div id="from">
        <div class="title_cls">FROM:</div>  {{from}}
    </div>
    <div id="to">
        <div class="title_cls">TO:</div>  {{to}}
    </div>
    <div id="cc">
        <div class="title_cls">CC:</div>  {{cc}}
    </div>
    <div class="title_cls">本文:</div>
    <div id="disc">
        <!-- {{disc}} -->
        {% for s in disc %}
        {{s |safe}}<br/>
        {% endfor %}
    </div>  
    <div id="atach">
        <div class="title_cls">添付ファイル:</div><br/>
        {% for attachFile in attach %}
        <a href="/mailbk/download/{{ attachFile.path }}">{{attachFile.name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}