header {
    height: 50px;
    padding: 15px;
    background-color: rgb(70, 0, 100);
    color: white;
}

.content {
    position: relative;
    width: 90%;
    height: 100%;
}
.box {
    position: absolute;
}
.menu {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    padding: 15px;
    background-color: black;
    color: rgb(255, 255, 255);
}
.sgf {
    top: 0px;
    left: 200px;
    margin-left: 20px;
    padding-top: 20px;
    overflow-y: auto;
    height: 100%;
    width: calc(100% - 200px);
}
th {
    padding: 10px;
    background-color: rgb(244, 255, 249);
    text-align: center;
}
.holizen-scroll {
    /* width: calc(100% - 200px); */
    overflow-x: unset; /* 横スクロール可能にする */
}
.scrollable-content {
    width: 100%;
  }